/* style.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background: #f9f9f9;
    color: #333;
}

h1,
h2,
h3 {
    text-align: center;
    color: #007694;
}

#produtos,
#carrinho {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.produto,
.carrinho-item {
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 15px;
    background: white;
    width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    
}

.produto:hover,
.carrinho-item:hover {
    transform: scale(1.03);
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    
}

button:hover {
    background-color: #256b45;
}

#divTotal {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

a h3 {
    color: #ff5722;
    text-align: center;
    margin-top: 30px;
   
}

a h3:hover {
    color: #e64a19;
    text-decoration: underline;
}

#toggle-theme {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #2b032b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    z-index: 1000;
}

#toggle-theme:hover {
    background-color: #256b45;
}

#pink-theme {
    position: fixed;
    top: 80px;
    right: 20px;
    padding: 10px 15px;
    background-color: #910385;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    z-index: 1000;
}

#pink-theme:hover {
    background-color: #490432;
}

/* Tema escuro */
body.dark-mode {
    background-color: #1e1e1e;
    color: #f1f1f1;
}

body.dark-mode .product,
body.dark-mode .produto,
body.dark-mode .carrinho-item,
body.dark-mode #most-voted {
    background-color: #2c2c2c;
    color: #f1f1f1;
    border-color: #444;
}

body.dark-mode button,
body.dark-mode #toggle-theme {
    background-color: #555;
    color: #fff;
}

body.dark-mode a h3 {
    color: #90caf9;
}

body.dark-mode a h3:hover {
    color: #42a5f5;
}

/* Tema rosa */
body.pink-mode {
    background-color: #680e68;
    color: hsl(0, 100%, 100%);
}

body.pink-mode .product,
body.pink-mode .produto,
body.pink-mode .carrinho-item,
body.pink-mode #most-voted {
    background-color: #8a2073;
    color: #f1f1f1;
    border-color: #fcfcfc;
}

body.pink-mode button,
body.pink-mode #toggle-theme {
    background-color: #5c0855;
    color: #f3d5ec;
}

body.pink-mode a h3 {
    color: #90caf9;
}

body.pink-mode a h3:hover {
    color: #ca6ba6;
}


/*transition*/